<div class="container">
  <div>
    <p class = "chat-you">You: "<%= @input %>"</p>
    <p class = "chat-coach">Coach: "<%= @answer %>"
  </div>

  <div class = "add-question">
    <%= link_to "Add another question", ask_path %>
  </div>
</div>
